<div class="my-groups container">
    <div class="col-sm-4">
        <h4>Group 1</h4>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
    </div>
    <div class="col-sm-4">
        <h4>Group 2</h4>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
    </div>
    <div class="col-sm-4">
        <h4>Group 3</h4>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
        <cat-recap [cat]="cat"></cat-recap>
    </div>
</div>